{{>head}}

<header class="py3">
  <h1 class="m0">Handlebars Basscss</h1>
  <p class="m0">Helpers for creating UI elements in Handlebars with Basscss</p>
</header>

<section id="panel" class="py3">
  <h1>Panel</h1>
  <div class="flex flex-wrap mxn2">
    <div class="col-6 px2">
      {{#panel header="Panel Header" }}
        <h2>Panel with header but no footer</h2>
        <p>Cool stuff bruh</p>
      {{/panel}}
    </div>
    <div class="col-6 px2">
      {{#panel footer="Panel Footer" }}
        Panel with footer but no header
      {{/panel}}
    </div>
    <div class="col-6 px2">
      {{#panel header="Panel Header" footer="Panel Footer" }}
        Panel with footer but no header
      {{/panel}}
    </div>
    <div class="col-6 px2">
      {{#panel header="Info Panel Header" type="info" }}
        Panel with header
      {{/panel}}
    </div>
    <div class="col-6 px2">
      {{#panel header="Success Panel Header" type="success" }}
        Panel with header
      {{/panel}}
    </div>
    <div class="col-6 px2">
      {{#panel header="Warning Panel Header" type="warning" }}
        Panel with header
      {{/panel}}
    </div>
    <div class="col-6 px2">
      {{#panel header="Error Panel Header" type="error" }}
        Panel with header
      {{/panel}}
    </div>
    <div class="col-6 px2">
      {{#panel }}
        Basic panel with no header or footer
      {{/panel}}
    </div>
  </div>
</section>

<section id="card" class="py3">
  <h1>Card</h1>
  <div class="flex flex-wrap mxn2">
    <div class="col-6 md-col-4 lg-col-3 px2">
      {{#card }}
        <h1>Default Card</h1>
      {{/card}}
    </div>
    <div class="col-6 md-col-4 lg-col-3 px2">
      {{#card type="info"}}
        <h1>Info Card</h1>
      {{/card}}
    </div>
    <div class="col-6 md-col-4 lg-col-3 px2">
      {{#card type="success"}}
        <h1>Success Card</h1>
      {{/card}}
    </div>
    <div class="col-6 md-col-4 lg-col-3 px2">
      {{#card type="warning"}}
        <h1>Warning Card</h1>
      {{/card}}
    </div>
    <div class="col-6 md-col-4 lg-col-3 px2">
      {{#card type="error"}}
        <h1>Error Card</h1>
      {{/card}}
    </div>
    <div class="col-6 md-col-4 lg-col-3 px2">
      {{#card img="//basscss.com/docs/placeholder.svg"}}
        <h1>Image Card</h1>
      {{/card}}
    </div>
  </div>
</section>

<section id="message" class="py3">
  {{#message}}
    Default flash message
  {{/message}}
  {{#message type="info" }}
    Info flash message
  {{/message}}
  {{#message type="success" }}
    Success flash message
  {{/message}}
  {{#message type="warning" }}
    Warning flash message
  {{/message}}
  {{#message type="error" dismiss="console.log('bye bye');this.parentNode.remove()" }}
    Error flash message
  {{/message}}
</section>

<section id="nav-item" class="py3">
  <h1>Nav Item</h1>
  {{navItem "Nav link" href="#nav-item" }}
  {{navItem "Nav link" href="#derp" id="nav-link-test" }}
  {{navItem "Inline Nav link" inline="true" href="#derp" id="nav-link-test" }}
  {{navItem "Inline Nav link" inline="true" href="#derp" id="nav-link-test" }}
</section>

<section id="nav" class="py3">
  <h1>Nav</h1>
  {{#nav id="nav" class="mb3" }}
    {{navItem "Nav link" href="#nav-item" }}
    {{navItem "Nav link" href="#nav-item" }}
    {{navItem "Nav link" href="#nav-item" }}
  {{/nav}}
  {{#nav id="nav" class="inline-block" }}
    {{navItem "Nav link" href="#nav-item" inline="true" }}
    {{navItem "Nav link" href="#nav-item" inline="true" }}
    {{navItem "Nav link" href="#nav-item" inline="true" }}
  {{/nav}}
</section>

<section id="tabs" class="py3">
  <h1>Tabs</h1>
</section>

<section id="navbar" class="py3">
  <h1>Navbar</h1>
</section>

<section id="media-object" class="py3">
  <h1>Media Object</h1>
  <div class="flex flex-wrap mxn2">
    <div class="col-6 px2">
      {{#media img="//basscss.com/docs/placeholder.svg" imgWidth="128" }}
        <h2 class="m0">Media Object</h2>
        <p class="m0">With variable body content</p>
      {{/media }}
    </div>
    <div class="col-6 px2">
      {{#media imgRight="//basscss.com/docs/placeholder.svg" imgWidth="128" }}
        <h2 class="m0">Media Object</h2>
        <p class="m0">With image to the right</p>
      {{/media }}
    </div>
    <div class="col-6 px2">
      {{#media
        img="//basscss.com/docs/placeholder.svg"
        imgRight="//basscss.com/docs/placeholder.svg"
        imgWidth="128" }}
        <h2 class="m0">Media Object</h2>
        <p class="m0">With two images</p>
      {{/media }}
    </div>
  </div>
</section>

<section id="flag-object" class="py3">
  <h1>Flag Object</h1>
  <div class="flex flex-wrap mxn2">
    <div class="col-6 px2">
      {{#flag img="//placehold.it/128"
        imgWidth="128"
        imgHeight="128"}}
        <h2 class="m0">Flag Object</h2>
        <p class="m0">Vertically centered media object</p>
      {{/flag}}
    </div>
    <div class="col-6 px2">
      {{#flag img="//basscss.com/docs/placeholder.svg"
        imgWidth="128"
        imgHeight="128"}}
        <h2 class="m0">Flag Object</h2>
        <p class="m0">Vertically centered media object</p>
      {{/flag}}
    </div>
  </div>
</section>

<section id="badge" class="py3">
  <h1>Badge</h1>
</section>

<section id="button" class="py3">
  <h1>Button</h1>
</section>

<section id="button-group" class="py3">
  <h1>Button Group</h1>
</section>

<section id="pagination" class="py3">
  <h1>Pagination</h1>
</section>

<section id="breadcrumbs" class="py3">
  <h1>Breadcrumbs</h1>
</section>

<section id="dropdown" class="py3">
  <h1 class="mb0">Dropdown</h1>
  <p class="h5">(Requires Javascript)</p>

  {{#dropdown "Actions" id="dropdown-1" class="mr1 mb2" }}
    <a href="#" class="button block button-nav-light">Item</a>
    {{navItem "Action" href="#dropdown"}}
    {{navItem "Edit" href="#dropdown"}}
    {{navItem "Remove" href="#dropdown"}}
  {{/dropdown}}

  {{#dropdown "More Actions" id="dropdown-2" buttonClass="button-blue" class="mr1 mb2" }}
    {{navItem "Action" href="#dropdown"}}
    {{navItem "Action" href="#dropdown"}}
    {{navItem "Action" href="#dropdown"}}
  {{/dropdown}}

</section>

<section id="modal" class="py3">
  <h1>Modal</h1>
</section>

<script>
  var Basscss = Basscss || {};
  Basscss.dropdowns = document.querySelectorAll('.Dropdown');
  for (var i = 0; i < Basscss.dropdowns.length; i++) {
    function init(dropdown) {
      dropdown.button = dropdown.querySelector('.Dropdown-button');
      dropdown.isOpen = false;
      dropdown.body = dropdown.querySelector('.Dropdown-body');
      dropdown.overlay = dropdown.querySelector('.Dropdown-overlay');
      dropdown.button.onclick = dropdown.body.onclick = dropdown.overlay.onclick = function(e) {
        dropdown.isOpen = !dropdown.isOpen;
        if (dropdown.isOpen) {
          dropdown.body.style.display = 'block';
          dropdown.overlay.style.display = 'block';
        } else {
          dropdown.body.style.display = 'none';
          dropdown.overlay.style.display = 'none';
        }
      }
    }
    init(Basscss.dropdowns[i]);
  };
</script>

{{>footer}}
